http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-1642-628X/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "last-modified-date" : {
            "value" : 1543525783951
          },
          "name" : {
            "created-date" : {
              "value" : 1460757498848
            },
            "last-modified-date" : {
              "value" : 1460757498848
            },
            "given-names" : {
              "value" : "Carl"
            },
            "family-name" : {
              "value" : "Boettiger"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0002-1642-628X"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0002-1642-628X/other-names"
          },
          "biography" : {
            "created-date" : {
              "value" : 1460757498851
            },
            "last-modified-date" : {
              "value" : 1460757498851
            },
            "content" : "http://carlboettiger.info",
            "visibility" : "public",
            "path" : "/0000-0002-1642-628X/biography"
          },
          "researcher-urls" : {
            "last-modified-date" : {
              "value" : 1543525783951
            },
            "researcher-url" : [ {
              "created-date" : {
                "value" : 1406074318793
              },
              "last-modified-date" : {
                "value" : 1543525783951
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-1642-628X",
                  "path" : "0000-0002-1642-628X",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Carl Boettiger"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "url-name" : "carlboettiger.info",
              "url" : {
                "value" : "http://www.carlboettiger.info"
              },
              "visibility" : "public",
              "path" : "/0000-0002-1642-628X/researcher-urls/325168",
              "put-code" : 325168,
              "display-index" : 5
            }, {
              "created-date" : {
                "value" : 1543525764169
              },
              "last-modified-date" : {
                "value" : 1543525783951
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-1642-628X",
                  "path" : "0000-0002-1642-628X",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
              [...]
