http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-9341-7985/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1517873256636
          },
          "name" : {
            "created-date" : {
              "value" : 1460762407231
            },
            "last-modified-date" : {
              "value" : 1460762407231
            },
            "given-names" : {
              "value" : "Peter"
            },
            "family-name" : {
              "value" : "Binfield"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0002-9341-7985"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0002-9341-7985/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0002-9341-7985/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0002-9341-7985/email"
          },
          "addresses" : {
            "last-modified-date" : {
              "value" : 1465226976952
            },
            "address" : [ {
              "created-date" : {
                "value" : 1453659051432
              },
              "last-modified-date" : {
                "value" : 1465226976952
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-9341-7985",
                  "path" : "0000-0002-9341-7985",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Peter Binfield"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "country" : {
                "value" : "US"
              },
              "visibility" : "public",
              "path" : "/0000-0002-9341-7985/address/89515",
              "put-code" : 89515,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-9341-7985/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0002-9341-7985/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : {
              "value" : 1517873256636
            },
            "external-identifier" : [ {
              "created-date" : {
                "value" : 1362686830616
              },
              "last-modified-date" : {
                "value" : 1517873256636
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/0000-0002-5982-8983",
                  "path" : "0000-0002-5982-8983",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "Scopus - Elsevier"
                },
                "assertion-origin-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-9341-7985",
                  "path" : "0000-0002-9341-7985",
                  "host" : "orcid.org"
                },
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : {
                  "value" : "Peter Binfield"
                }
              },
              "external-id-type" : "Scopus Author ID",
              "external-id-value" : "55224382400",
              "external-id-url" : {
                "value" : "http://www.scopus.com/inward/authorDetails.url?authorID=55224382400&partnerID=MN8TOARS"
              },
              "external-id-relationship" : "self",
              "visibility" : "public",
              "path" : "/0000-0002-9341-7985/external-identifiers/133347",
              "put-code" : 133347,
              "display-index" : 0
            } ],
            "path" : "/0000-0002-9341-7985/external-identifiers"
          },
          "path" : "/0000-0002-9341-7985/person"
        }
  recorded_at: 2020-02-05 22:21:16 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-9341-7985/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last-modified-date":{"value":1437748178734},"group":[{"last-modified-date":{"value":1437748178581},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.3233/ISU-130714","external-id-normalized":{"value":"10.3233/isu-130714","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":""},"external-id-relationship":"self"},{"external-id-type":"eid","external-id-value":"2-s2.0-84889654399","external-id-normalized":{"value":"2-s2.0-84889654399","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":""},"external-id-relationship":"self"}]},"work-summary":[{"put-code":15536015,"created-date":{"value":1424805081143},"last-modified-date":{"value":1437748178581},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0002-5982-8983","path":"0000-0002-5982-8983","host":"orcid.org"},"source-name":{"value":"Scopus
        - Elsevier"},"assertion-origin-orcid":{"uri":"https://orcid.org/0000-0002-9341-7985","path":"0000-0002-9341-7985","host":"orcid.org"},"assertion-origin-client-id":null,"assertion-origin-name":{"value":"Peter
        Binfield"}},"title":{"title":{"value":"PeerJ - A case study in improving research
        collaboration at the journal level"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.3233/ISU-130714","external-id-normalized":{"value":"10.3233/isu-130714","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":""},"external-id-relationship":"self"},{"external-id-type":"eid","external-id-value":"2-s2.0-84889654399","external-id-normalized":{"value":"2-s2.0-84889654399","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":""},"external-id-relationship":"self"}]},"url":{"value":"http://www.scopus.com/inward/record.url?eid=2-s2.0-84889654399&partnerID=MN8TOARS"},"type":"journal-article","publication-date":{"year":{"value":"2013"},"month":null,"day":null},"journal-title":null,"visibility":"public","path":"/0000-0002-9341-7985/work/15536015","display-index":"0"}]},{"last-modified-date":{"value":1437083653456},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.1038/npre.2009.2801","external-id-normalized":{"value":"10.1038/npre.2009.2801","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":""},"external-id-relationship":"self"}]},"work-summary":[{"put-code":5011717,"created-date":{"value":1362686830609},"l[...]
[...]
