http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=carl%2Bboettiger
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-1642-628X",
              "path" : "0000-0002-1642-628X",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3554-5196",
              "path" : "0000-0002-3554-5196",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-5951-4503",
              "path" : "0000-0002-5951-4503",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
       [...]
