http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-8607-8025/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1572037363977
          },
          "name" : {
            "created-date" : {
              "value" : 1460755608732
            },
            "last-modified-date" : {
              "value" : 1460755608732
            },
            "given-names" : {
              "value" : "Stephen"
            },
            "family-name" : {
              "value" : "Eglen"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0001-8607-8025"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0001-8607-8025/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : {
              "value" : 1572037363977
            },
            "researcher-url" : [ {
              "created-date" : {
                "value" : 1405915722009
              },
              "last-modified-date" : {
                "value" : 1572037363977
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0001-8607-8025",
                  "path" : "0000-0001-8607-8025",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Stephen Eglen"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "url-name" : "Home page",
              "url" : {
                "value" : "https://sje30.github.io"
              },
              "visibility" : "public",
              "path" : "/0000-0001-8607-8025/researcher-urls/308279",
              "put-code" : 308279,
              "display-index" : 0
            } ],
            "path" : "/0000-0001-8607-8025/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0001-8607-8025/email"
          },
          "addresses" : {
            "last-modified-date" : {
              "value" : 1465226976952
            },
            "address" : [ {
              "created-date" : {
                "value" : 1453658634187
              },
              "last-modified-date" : {
                "value" : 1465226976952
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0001-8607-8025",
                  "path" : "0000-0001-8607-8025",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Stephen Eglen"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "country" : {
                "value" : "GB"
              },
              "visibility" : "public",
              "path" : "/0000-0001-8607-8025/address/15623",
              "put-code" : 15623,
              "display-index" : 0
            } ],
            "path" : "/0000-0001-8607-8025/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0001-8607-8025/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : null,
            "external-identifier" : [ ],
            "path" : "/0000-0001-8607-8025/external-identifiers"
          },
          "path" : "/0000-0001-8607-8025/person"
        }
  recorded_at: 2020-02-05 22:21:16 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-8607-8025/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last-modified-date":{"value":1580821752178},"group":[{"last-modified-date":{"value":1580821752178},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7557/19.5311","external-id-normalized":{"value":"10.7557/19.5311","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.7557/19.5311"},"external-id-relationship":"self"}]},"work-summary":[{"put-code":68392001,"created-date":{"value":1580821752178},"last-modified-date":{"value":1580821752178},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0001-9884-1913","path":"0000-0001-9884-1913","host":"orcid.org"},"source-name":{"value":"Crossref"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"title":{"title":{"value":"Open
        Code and Peer Review"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7557/19.5311","external-id-normalized":{"value":"10.7557/19.5311","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.7557/19.5311"},"external-id-relationship":"self"}]},"url":{"value":"https://doi.org/10.7557/19.5311"},"type":"journal-article","publication-date":{"year":{"value":"2020"},"month":{"value":"02"},"day":{"value":"04"}},"journal-title":{"value":"Open
        Science Talk"},"visibility":"public","path":"/0000-0001-8607-8025/work/68392001","display-index":"0"}]},{"last-modified-date":{"value":1569321786075},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.7557/5.4910","external-id-normalized":{"value":"10.7557/5.4910","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.7557/5.4910"},"external-id-relationship":"self"}]},"work-summary":[{"put-code":62[...]
