http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=digital-object-ids%3A%2210.1371%2Fjournal.pone.0025995%22
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-0051-973X",
              "path" : "0000-0002-0051-973X",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 1
        }
  recorded_at: 2020-02-05 22:21:54 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
