http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=digital-object-ids%3A%2210.1087%2F20120404%22&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3181-3456",
              "path" : "0000-0002-3181-3456",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-1290-9735",
              "path" : "0000-0002-1290-9735",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-6914-8682",
              "path" : "0000-0002-6914-8682",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 14
        }
  recorded_at: 2020-02-05 22:21:56 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=digital-object-ids%3A%2210.1087%2F20120404%22&start=4&rows=3
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-3738-1487",
              "path" : "0000-0003-3738-1487",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-5727-2427",
              "path" : "0000-0001-5727-2427",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-0187-9064",
              "path" : "0000-0003-0187-9064",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 14
        }
  recorded_at: 2020-02-05 22:21:56 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
