http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : null,
          "num-found" : 0
        }
  recorded_at: 2020-02-05 22:21:33 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=keyword%3Aecology
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-8289-1497",
              "path" : "0000-0002-8289-1497",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3855-0919",
              "path" : "0000-0002-3855-0919",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-1935-7782",
              "path" : "0000-0003-1935-7782",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
       [...]
