http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=given-names%3Acarl&rows=apple
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '400'
      message: Bad Request
      explanation: Bad request syntax or unsupported method
    headers:
      status: HTTP/1.1 400 Bad Request
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "response-code" : 400,
          "developer-message" : "The client application made a bad request to the ORCID API. Full validation error: The rows parameter must be an integer between 0 and 200",
          "user-message" : "The client application made a bad request to the ORCID API.",
          "error-code" : 9012,
          "more-info" : "https://members.orcid.org/api/resources/troubleshooting"
        }
  recorded_at: 2019-07-12 08:41:01 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
