http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3414-450X",
              "path" : "0000-0002-3414-450X",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-5927-8950",
              "path" : "0000-0002-5927-8950",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-6716-1576",
              "path" : "0000-0002-6716-1576",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 2255
        }
  recorded_at: 2019-07-12 08:40:14 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax&qf=family-name%5E2.0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-2465-5138",
              "path" : "0000-0002-2465-5138",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-8661-4342",
              "path" : "0000-0001-8661-4342",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-7794-4689",
              "path" : "0000-0002-7794-4689",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 264
        }
  recorded_at: 2019-07-12 08:40:14 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax&qf=given-names%5E3.0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-9497-4353",
              "path" : "0000-0002-9497-4353",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-8532-8301",
              "path" : "0000-0001-8532-8301",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-7911-4710",
              "path" : "0000-0001-7911-4710",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 1492
        }
  recorded_at: 2019-07-12 08:40:14 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
