http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1444-9135/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "last-modified-date" : {
            "value" : 1517873256636
          },
          "name" : {
            "created-date" : {
              "value" : 1460763678895
            },
            "last-modified-date" : {
              "value" : 1460763678895
            },
            "given-names" : {
              "value" : "Scott"
            },
            "family-name" : {
              "value" : "Chamberlain"
            },
            "credit-name" : {
              "value" : "Scott A Chamberlain"
            },
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0003-1444-9135"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0003-1444-9135/other-names"
          },
          "biography" : {
            "created-date" : {
              "value" : 1460763678897
            },
            "last-modified-date" : {
              "value" : 1468250077897
            },
            "content" : "Co-founder at rOpenSci - a non-profit making software to facilitate reproducible and open science",
            "visibility" : "public",
            "path" : "/0000-0003-1444-9135/biography"
          },
          "researcher-urls" : {
            "last-modified-date" : {
              "value" : 1502210439468
            },
            "researcher-url" : [ {
              "created-date" : {
                "value" : 1405898288447
              },
              "last-modified-date" : {
                "value" : 1502210439468
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-1444-9135",
                  "path" : "0000-0003-1444-9135",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Scott A Chamberlain"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "url-name" : "rOpenSci",
              "url" : {
                "value" : "http://ropensci.org/"
              },
              "visibility" : "public",
              "path" : "/0000-0003-1444-9135/researcher-urls/304093",
              "put-code" : 304093,
              "display-index" : 4
            }, {
              "created-date" : {
                "value" : 1406123394689
              },
              "last-modified-date" : {
                "value" : 1502210439468
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-1444-9135",
                  "path" : "0000-0003-1444-9135",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
              [...]
