http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/asdfadf/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '404'
      message: Not Found
      explanation: Nothing matches the given URI
    headers:
      status: HTTP/1.1 404 Not Found
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "response-code" : 404,
          "developer-message" : "404 Not Found: The resource was not found. Full validation error: ORCID iD asdfadf not found",
          "user-message" : "The resource was not found.",
          "error-code" : 9016,
          "more-info" : "https://members.orcid.org/api/resources/troubleshooting"
        }
  recorded_at: 2020-02-05 22:22:06 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
