http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=given-names%3Acarl&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-5377-2624",
              "path" : "0000-0002-5377-2624",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-0646-0388",
              "path" : "0000-0002-0646-0388",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3141-3057",
              "path" : "0000-0002-3141-3057",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
       [...]
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-5377-2624/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1568395432647
          },
          "name" : {
            "created-date" : {
              "value" : 1460760007316
            },
            "last-modified-date" : {
              "value" : 1460760007316
            },
            "given-names" : {
              "value" : "Carl"
            },
            "family-name" : {
              "value" : "Beringer"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0002-5377-2624"
          },
          "other-names" : {
            "last-modified-date" : {
              "value" : 1502887568402
            },
            "other-name" : [ {
              "created-date" : {
                "value" : 1502887568402
              },
              "last-modified-date" : {
                "value" : 1502887568402
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-5377-2624",
                  "path" : "0000-0002-5377-2624",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Carl Beringer"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "content" : "Carl R. Beringer III",
              "visibility" : "public",
              "path" : "/0000-0002-5377-2624/other-names/984495",
              "put-code" : 984495,
              "display-index" : 1
            } ],
            "path" : "/0000-0002-5377-2624/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0002-5377-2624/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0002-5377-2624/email"
          },
          "addresses" : {
            "last-modified-date" : {
              "value" : 1502887578265
            },
            "address" : [ {
              "created-date" : {
                "value" : 1502887578264
              },
              "last-modified-date" : {
                "value" : 1502887578265
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0002-5377-2624",
                  "path" : "0000-0002-5377-2624",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Carl Beringer"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "country" : {
                "value" : "US"
              },
              "visibility" : "public",
              "path" : "/0000-0002-5377-2624/address/764545",
              "put-code" : 764545,
              "display-index" : 1
            } ],
            "path" : "/0000-0002-5377-2624/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0002-5377-2624/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : {
              "value" : 1568395432647
            },
            "external-identifier" : [ {
              "created-date" : {
                "value" : 1442241008432
              },
              "last-modified-date" : {
                "value" : 1442241008432
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/APP-LBV5EQ8U9CUC0XII",
                  "path" : "APP-LBV5EQ8U9CUC0XII",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "University of Pittsburgh"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "external-id-type" : "Pitt ID",
              "external-id-value" : "crb99",
              "external-id-url" : {
                "value" : "https://orcid.pitt.edu/find?id=crb99"
              },
              "external-id-relationship" : "self",
              "visibility" : "public",
              "path" : "/0000-0002-5377-2624/external-identifiers/332344",
              "put-code" : 332344,
              "display-index" : 0
            }, {
              "created-date" : {
                "value" : 1568395432646
              },
              "last-modified-date" : {
                "value" : 1568395432647
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
[...]
[...]
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-4575-321X/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8[...]
[...]
