http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=keyword%3Abirds%20AND%20keyword%3Aturtles&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-0705-8136",
              "path" : "0000-0003-0705-8136",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-9907-3466",
              "path" : "0000-0002-9907-3466",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 2
        }
  recorded_at: 2020-02-05 22:24:26 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-0705-8136/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1464801001220
          },
          "name" : {
            "created-date" : {
              "value" : 1461765441141
            },
            "last-modified-date" : {
              "value" : 1461766000131
            },
            "given-names" : {
              "value" : "Isabela"
            },
            "family-name" : {
              "value" : "Domiciano"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0003-0705-8136"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0003-0705-8136/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0003-0705-8136/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0003-0705-8136/email"
          },
          "addresses" : {
            "last-modified-date" : {
              "value" : 1464801001220
            },
            "address" : [ {
              "created-date" : {
                "value" : 1461765656334
              },
              "last-modified-date" : {
                "value" : 1464801001220
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-0705-8136",
                  "path" : "0000-0003-0705-8136",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Isabela Domiciano"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "country" : {
                "value" : "BR"
              },
              "visibility" : "public",
              "path" : "/0000-0003-0705-8136/address/462558",
              "put-code" : 462558,
              "display-index" : 0
            } ],
            "path" : "/0000-0003-0705-8136/address"
          },
          "keywords" : {
            "last-modified-date" : {
              "value" : 1461765915651
            },
            "keyword" : [ {
              "created-date" : {
                "value" : 1461765915651
              },
              "last-modified-date" : {
                "value" : 1461765915651
              },
              "source" : {
                "source-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-0705-8136",
                  "path" : "0000-0003-0705-8136",
                  "host" : "orcid.org"
                },
                "source-client-id" : null,
                "source-name" : {
                  "value" : "Isabela Domiciano"
                },
                "assertion-origin-orcid" : null,
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : null
              },
              "content" : "sea turtles, marine mammals, sea birds, health, conservation",
              "visibility" : "public",
              "path" : "/0000-0003-0705-8136/keywords/428592",
              "put-code" : 428592,
              "display-index" : 0
            } ],
            "path" : "/0000-0003-0705-8136/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : {
              "value" : 1461765915647
            },
            "external-identifier" : [ {
              "created-date" : {
                "value" : 1461765915647
              },
              "last-modified-date" : {
                "value" : 1461765915647
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/0000-0002-5982-8983",
                  "path" : "0000-0002-5982-8983",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "Scopus - Elsevier"
                },
                "assertion-origin-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-0705-8136",
                  "path" : "0000-0003-0705-8136",
                  "host" : "orcid.org"
                },
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : {
                  "value" : "Isabela Domiciano"
                }
              },
              "external-id-type" : "Scopus Author ID",
              "external-id-value" : "56215384700",
              "external-id-url" : {
                "value" : "http://www.scopus.com/inward/authorDetails.url?authorID=56215384700&partnerID=MN8TOARS"
              },
              "external-id-relationship" : "self",
              "visibility" : "public",
              "path" : "/0000-0003-0705-8136/external-identifiers/469118",
              "put-code" : 469118,
              "display-index" : 0
            } ],
            "path" : "/0000-0003-0705-8136/external-identifiers"
          },
          "path" : "/0000-0003-0705-8136/person"
        }
  recorded_at: 2020-02-05 22:24:26 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
