http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=given-names%3Acarl&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-6373-9943",
              "path" : "0000-0001-6373-9943",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-7348-9324",
              "path" : "0000-0002-7348-9324",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-9552-2789",
              "path" : "0000-0002-9552-2789",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
       [...]
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0001-6373-9943/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/3.3 crul/0.8.0 rOpenSci(rorcid/0.5.0.9210)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "last-modified-date" : null,
          "name" : {
            "created-date" : {
              "value" : 1534847071746
            },
            "last-modified-date" : {
              "value" : 1534847071968
            },
            "given-names" : {
              "value" : "Carl"
            },
            "family-name" : {
              "value" : "Lockey"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0001-6373-9943"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0001-6373-9943/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0001-6373-9943/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0001-6373-9943/email"
          },
          "addresses" : {
            "last-modified-date" : null,
            "address" : [ ],
            "path" : "/0000-0001-6373-9943/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0001-6373-9943/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : null,
            "external-identifier" : [ ],
            "path" : "/0000-0001-6373-9943/external-identifiers"
          },
          "path" : "/0000-0001-6373-9943/person"
        }
  recorded_at: 2019-07-12 08:40:59 GMT
  recorded_with: vcr/0.2.6, webmockr/0.3.4
[...]
