http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0002-0734-2199/work/77226586
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3.1 crul/1.1.0 rOpenSci(rorcid/0.7.0)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"created-date":{"value":1594708398016},"last-modified-date":{"value":1594929481358},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/APP-11OP2B5GJEHAY2J7","path":"APP-11OP2B5GJEHAY2J7","host":"orcid.org"},"source-name":{"value":"Aberystwyth
        University"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"put-code":77226586,"path":"/0000-0002-0734-2199/work/77226586","title":{"title":{"value":"Dose-Rate
        Estimation using α-Al2O3:C Chips: Aftermath"},"subtitle":null,"translated-title":null},"journal-title":{"value":"Ancient
        TL"},"short-description":"We present additional experiments for α-Al<sub>2</sub>O<sub>3</sub>:C
        chips used to estimate in situ gamma-dose rates. Our contribution supplements
        the article by Kreutzer et al.~(2018) and presents results from previously
        announced follow-up experiments. (1) We investigate the divergent gamma-dose
        rate results we obtained from cross-check experiments for one reference site.
        (2) We discuss the origin of encountered large inter-aliquot scatter using
        results from low-level background and calibration measurements. (3) We show
        that the chip geometries vary considerably, which may partly contribute to
        additional inter-aliquot scatter, regardless of an overall good reproducibility
        of results. (4) We report new source-calibration results after replacing the
        beta-source housing of our measurement system, which resulted in an increase
        of the source dose rate at the sample position by ca 37%. GEANT4 simulations
        show that the increased dose rate is likely caused by an unfortunate fabrication
        tolerance of the shutter in front of the beta-source, which, in combination
        with the chip geometry, significantly contributes to the observed inter-aliquot
        scatter. (5) Finally, we introduce a newly developed shiny application we
        use at the IRAMAT-CRP2A to analyse  α-Al<sub>2</sub>O<sub>3</sub>:C measurements.
        The application is open-source and freely available.","citation":{"citation-type":"bibtex","citation-value":"@article{241a9e613cea4173bafa23dbd14e5924,\n  title     =
        \"Dose-Rate Estimation using α-Al2O3:C Chips: Aftermath\",\n  abstract  =
        \"We present additional experiments for α-Al2O3:C chips used to estimate in
        situ gamma-dose rates. Our contribution supplements the article by Kreutzer
        et al.~(2018) and presents results from previously announced follow-up experiments.
        (1) We investigate the divergent gamma-dose rate results we obtained from
        cross-che[...]
[...]
