http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-5615-6854",
              "path" : "0000-0001-5615-6854",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-3414-450X",
              "path" : "0000-0002-3414-450X",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-1083-5530",
              "path" : "0000-0003-1083-5530",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 2621
        }
  recorded_at: 2020-02-05 22:21:34 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax&qf=family-name%5E2.0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-7359-8109",
              "path" : "0000-0002-7359-8109",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-8408-8377",
              "path" : "0000-0001-8408-8377",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0003-3773-6428",
              "path" : "0000-0003-3773-6428",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 303
        }
  recorded_at: 2020-02-05 22:21:34 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/search?q=Raymond&rows=3&defType=edismax&qf=given-names%5E3.0
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "result" : [ {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0001-7888-5150",
              "path" : "0000-0001-7888-5150",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-7156-6402",
              "path" : "0000-0002-7156-6402",
              "host" : "orcid.org"
            }
          }, {
            "orcid-identifier" : {
              "uri" : "https://orcid.org/0000-0002-9893-4842",
              "path" : "0000-0002-9893-4842",
              "host" : "orcid.org"
            }
          } ],
          "num-found" : 1677
        }
  recorded_at: 2020-02-05 22:21:34 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
