http_interactions:
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1620-1408/person
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/vnd.orcid+json; qs=4;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
          "last-modified-date" : {
            "value" : 1458837744696
          },
          "name" : {
            "created-date" : {
              "value" : 1460763794504
            },
            "last-modified-date" : {
              "value" : 1460763794504
            },
            "given-names" : {
              "value" : "Thomas"
            },
            "family-name" : {
              "value" : "Johnson"
            },
            "credit-name" : null,
            "source" : null,
            "visibility" : "public",
            "path" : "0000-0003-1620-1408"
          },
          "other-names" : {
            "last-modified-date" : null,
            "other-name" : [ ],
            "path" : "/0000-0003-1620-1408/other-names"
          },
          "biography" : null,
          "researcher-urls" : {
            "last-modified-date" : null,
            "researcher-url" : [ ],
            "path" : "/0000-0003-1620-1408/researcher-urls"
          },
          "emails" : {
            "last-modified-date" : null,
            "email" : [ ],
            "path" : "/0000-0003-1620-1408/email"
          },
          "addresses" : {
            "last-modified-date" : {
              "value" : 1458837744696
            },
            "address" : [ {
              "created-date" : {
                "value" : 1453659632464
              },
              "last-modified-date" : {
                "value" : 1458837744696
              },
              "source" : {
                "source-orcid" : null,
                "source-client-id" : {
                  "uri" : "https://orcid.org/client/0000-0002-5982-8983",
                  "path" : "0000-0002-5982-8983",
                  "host" : "orcid.org"
                },
                "source-name" : {
                  "value" : "Scopus - Elsevier"
                },
                "assertion-origin-orcid" : {
                  "uri" : "https://orcid.org/0000-0003-1620-1408",
                  "path" : "0000-0003-1620-1408",
                  "host" : "orcid.org"
                },
                "assertion-origin-client-id" : null,
                "assertion-origin-name" : {
                  "value" : "Thomas Johnson"
                }
              },
              "country" : {
                "value" : "US"
              },
              "visibility" : "public",
              "path" : "/0000-0003-1620-1408/address/195618",
              "put-code" : 195618,
              "display-index" : 0
            } ],
            "path" : "/0000-0003-1620-1408/address"
          },
          "keywords" : {
            "last-modified-date" : null,
            "keyword" : [ ],
            "path" : "/0000-0003-1620-1408/keywords"
          },
          "external-identifiers" : {
            "last-modified-date" : null,
            "external-identifier" : [ ],
            "path" : "/0000-0003-1620-1408/external-identifiers"
          },
          "path" : "/0000-0003-1620-1408/person"
        }
  recorded_at: 2020-02-05 22:22:35 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1620-1408/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last-modified-date":null,"group":[],"path":"/0000-0003-1620-1408/works"}'
  recorded_at: 2020-02-05 22:22:35 GMT
  recorded_with: vcr/0.4.0, webmockr/0.5.0
[...]
- request:
    method: get
    uri: https://pub.orcid.org/v3.0/0000-0003-1444-9135/works
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(rorcid/0.6.3.91)
      Authorization: Bearer <<rorcid_bearer_token>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"last-modified-date":{"value":1533934243573},"group":[{"last-modified-date":{"value":1526888251009},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.3897/biss.2.25589","external-id-normalized":{"value":"10.3897/biss.2.25589","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.3897/biss.2.25589"},"external-id-relationship":"self"}]},"work-summary":[{"put-code":44924450,"created-date":{"value":1526888251009},"last-modified-date":{"value":1526888251009},"source":{"source-orcid":null,"source-client-id":{"uri":"https://orcid.org/client/0000-0001-9884-1913","path":"0000-0001-9884-1913","host":"orcid.org"},"source-name":{"value":"Crossref"},"assertion-origin-orcid":null,"assertion-origin-client-id":null,"assertion-origin-name":null},"title":{"title":{"value":"Phylogeny
        Based Biodiversity Data Queries"},"subtitle":null,"translated-title":null},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.3897/biss.2.25589","external-id-normalized":{"value":"10.3897/biss.2.25589","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.3897/biss.2.25589"},"external-id-relationship":"self"}]},"url":{"value":"https://doi.org/10.3897/biss.2.25589"},"type":"journal-article","publication-date":{"year":{"value":"2018"},"month":{"value":"05"},"day":{"value":"21"}},"journal-title":{"value":"Biodiversity
        Information Science and Standards"},"visibility":"public","path":"/0000-0003-1444-9135/work/44924450","display-index":"0"}]},{"last-modified-date":{"value":1525370112790},"external-ids":{"external-id":[{"external-id-type":"doi","external-id-value":"10.21105/joss.00721","external-id-normalized":{"value":"10.21105/joss.00721","transient":true},"external-id-normalized-error":null,"external-id-url":{"value":"https://doi.org/10.21105/joss.00721"},"external-id-relationsh[...]
